@model  MusicPortal.Models.IndexViewModel;

<h2>@Localization.Resource.DirectorySongs</h2>

<form method="get">
    <div>
        <label>Artist: </label>
        <input name="position" value="@Model.FilterViewModel.SelectedPosition" class="form-control me-2 bg-dark text-white" />
        <label class="">Genre: </label>
        <select name="genre" asp-items="Model.FilterViewModel.Genres" class="form-select bg-dark text-white"></select>
        <input type="submit" value="Filter" class="btn coal"/>
    </div>
</form>
<table class="table bw">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-position="@(Model.FilterViewModel.SelectedPosition)"
                   asp-route-genre="@(Model.FilterViewModel.SelectedGenre)">@Localization.Resource.Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.GenreSort)"
                   asp-route-position="@(Model.FilterViewModel.SelectedPosition)"
                   asp-route-genre="@(Model.FilterViewModel.SelectedGenre)">@Localization.Resource.Genre</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ArtistSort)"
                   asp-route-position="@(Model.FilterViewModel.SelectedPosition)"
                   asp-route-genre="@(Model.FilterViewModel.SelectedGenre)">@Localization.Resource.Artist</a>
            </th>
            <th>
                @Localization.Resource.Download
            </th>
            <th>
                @Localization.Resource.Hearing
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model.Songs)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Genre</td>
                <td>@song.Artist</td>
                <td>
                    <a href="@Url.Action("Download", "User", new { id = song.Id })" class="btn btn-primary coal">@Localization.Resource.Download</a>
                </td>
                <td><audio src="@song.FilePath" controls></audio></td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
            page-url-position="@(Model.FilterViewModel.SelectedPosition)"
            page-url-genre="@(Model.FilterViewModel.SelectedGenre)"
            page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>


<a asp-controller="User" asp-action="Upload" class="btn btn-primary coal">@Localization.Resource.DownloadSongs</a>
