@using MusicPortal.DAL.Entities
@inject MusicPortal.BLL.Interfaces.ILanguage MyLangRead


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicPortal.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3 bw">
            <div class="container-fluid">
                <h3 class="navbar-brand text-white">MusicPortal</h3>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-controller="Account" asp-action="Login">@Localization.Resource.LogIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Register">@Localization.Resource.Register</a>
                        </li>
                    </ul>
                </div>
                <form asp-action="ChangeCulture" asp-controller="User" style="display:flex; align-items: center" id="languageForm">
                    <select name="lang" class="form-select bg-dark text-white" id="languageSelect">
                        <option disabled selected>@Localization.Resource.ChooseLang</option>
                        @foreach (Language it in MyLangRead.Languages())
                        {
                            <option value=@it.ShortName>@it.Name</option>
                        }
                    </select>
                    <input type="submit" name="submit" class="btn coal" style="margin-left: 10px" value="@Localization.Resource.ChooseLang">
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MusicPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("#languageSelect").change(function () {
                console.log("меняю язык");
                $("#languageForm").submit();
            });
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
