<h2>@Localization.Resource.AdminPanel</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link warn" href="@Url.Action("ManageUsers", "Admin")">@Localization.Resource.ManageUsers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link warn" href="@Url.Action("ManageGenres", "Admin")">@Localization.Resource.ManageGenres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link warn" href="@Url.Action("ManageArtists", "Admin")">@Localization.Resource.ManageArtists</a>
    </li>
</ul>