@using MusicPortal.BLL.DTO
@model List<UserDTO>

<h2>@Localization.Resource.ManageUsers</h2>

<table class="table bw">
    <thead>
        <tr>
            <th>@Localization.Resource.UserName</th>
            <th>@Localization.Resource.Password</th>
            <th>@Localization.Resource.Status</th>
            <th>@Localization.Resource.Accept</th>
            <th>@Localization.Resource.Deleting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Password</td>
                <td>@user.Status</td>
                <td>
                    @if (user.Status == 0)
                    {
                        <form asp-action="ChangeStatus" asp-route-userId="@user.Id" method="post">
                            <button type="submit" class="btn btn-primary">@Localization.Resource.Accept</button>
                        </form>
                    }
                </td>
                <td>
                    <form asp-action="DeleteUser" asp-route-userId="@user.Id" method="post">
                        <button type="submit" class="btn btn-danger">@Localization.Resource.Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <a class="nav-link warn" href="@Url.Action("Index", "Admin")">@Localization.Resource.Back</a>

</table>
