@model IEnumerable<StudentsMVC.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div><span id="notification" style="color:red;font-size:15px;"></span></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
            /*
            Для взаимодействия с хабом NotificationHub с помощью метода build() объекта HubConnectionBuilder
            создается объект hubConnection - объект подключения.
            Метод withUrl устанавливает адрес, по котору приложение будет обращаться к хабу.
            Поскольку NotificationHub на сервере сопоставляется с адресом "/notification",
            то именно этот адрес и передается в withUrl.
            */
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/notification")
            .build();

        // Метод hubConnection.on устанавливает функцию на стороне клиента,
        // которая будет получать данные от сервера (хаба)
        hubConnection.on("displayMessage", function (message) {
            $('#notification').html(message);
        });

        // Открываем соединение с сервером.
        // Если подключение к хабу успешно установлено,
        // то сработает метод then, чтобы выполнить некоторые действия.
        // Если же в процессе подключения к серверу возникнет ошибка,
        // то сработает функция, которая передается в метод catch и которая получит данные об ошибке.
        hubConnection.start()
            .then()
            .catch(function (err) {
                return console.error(err.toString());
            });

    });
</script>
